/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

/* maxvoltar.com/archive/-webkit-font-smoothing */

html { -webkit-font-smoothing: antialiased; }

body {
	font: 16px/24px Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

p{
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: 222;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.2em;
	font-size: 11px/14px;
}



/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

pre {
padding: 15px;
white-space: pre; /* CSS2 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }
a	{
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;

}
/* bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 960px;
	padding: 20px 72px 48px 84px;
	background: rgba(255, 255, 255, 1);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

body:before 
	{
	  content: "";
	  position: fixed;
	  top: -10px;
	  left: 0;
	  width: 100%;
	  height: 10px;
	  z-index: 100;
	  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	  box-shadow: 0px 0px 10px rgba(0,0,0,.8);			  
	}
	
/* Header Attributes */

header	{
	height:100px;
}

header h1	{
	background: url(../images/gimmemar-header.png) no-repeat;
	height:59px;
	margin:10px;
	text-indent: -9999px;
	width:285px;
}

#socialIcons	{
	position:absolute;
	top:50px;
	left:750px;
	width:225px;
}

/* Breadcrumbs */

.prevnext {
	margin:20px 0;
}

.prevnext li {
	display:block;
}

/*  Main Navigation */

.menu-header {
float:left;
width:100%;
}

nav{
	padding:0 0 0 0;
    width:960px;
    display:block;
    float:left;
    position:relative;
}

nav#mainMenu	{
	border-bottom:1px solid rgba(227, 227, 227, 1);
	-moz-box-shadow: 0px -2px 0px #000;
	-webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	z-index:10; 
}
 
nav ul{
	padding-left:90px;
    list-style:none;
}
 
.menu-header ul li{
	float:left;
    position:relative;
    margin:0 0 0 0;
    padding-right:10px;
    }

.menu-header ul li a{
	font:14px 'NobileItalic',Arial,sans-serif;
    display:block;
    text-decoration:none;
    color:#222;
    padding:10px 25px 10px 5px;
 }
 
.menu-header ul li ul{
    display:none;
    position:absolute;
    top:100%;
    left:0px;
    float:left;
    z-index:99999;
    background: #212121;
    border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    padding:0;
    margin-left:0px;
    
}

.menu-header ul li ul li	{
	border-bottom:1px solid #fff;
}

.menu-header ul li ul li:last-child	{
	border-bottom:0;
}
 
.menu-header ul ul ul{
    top: 30%;
    left:100%;
    background: #343434;
    
}
 
.menu-header ul ul a{
    height:auto;
    line-height:1.4em;
    padding:10px;
    width:100px;
    color:#fff;
}
 
nav ul ul:hover > a{
	background-color:#423f35;
    color:#ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:10px;
   }


 .menu-header ul ul.submenu li:hover:first-child> a	{
 	background-color:#423f35;
    color:#ccc;
    border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
   }
   
  .menu-header ul ul ul li:hover:first-child> a	{
 	background-color:#423f35;
    color:#ccc;
    border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
   }
 
 .menu-header ul li:hover> a	{
 	background-color:#423f35;
    color:#ccc;

   }
    
     
nav ul ul.sub-menu:hover li:last-child > a	{
    border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
    
}

 .menu-header ul li:hover:first-child> a	{
 	background-color:#423f35;
    color:#ccc;
    border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
   }
  
 .menu-header ul li:hover> a	{
 	background-color:#423f35;
    color:#ccc;
    border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
   }   
  
  .menu-header ul  li:hover:last-child > a	{
 	background-color:#423f35;
    color:#ccc;
    border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
    border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
   }
    
.menu-header ul li:hover > ul{
    display:block;
}

ul.children	{
	padding-left:0 !important;
	padding-right:0 !important;
}

.menu-header li ul li	{
	padding-left:0 !important;
	padding-right:0 !important;
}


/* Main Content  */

section	{
	width: 60%;
	float:left;
}

section#categoryContent	{
	width:60%;
	float:left;
	margin-bottom:20px;
}

section#pageContent	{
	width:100%;
}

.post	{
	margin:20px 0;
}

article header h2 {
	font:26px 'CaviarDreamsRegular',Arial,sans-serif;
	padding:20px 0;
	margin:30px 0 0 0;
}

article img	{
	padding:10px;
}

/* section	{
	padding:20px 0;
	border-top:1px solid rgba(201, 201, 201, 1);
	border-bottom:1px solid rgba(227, 227, 227, 1);
	overflow: hidden;
	clear: both;
} */

#pageContent article p img	{ 

	padding:10px;
}

/* Archives */

#archiveTitle	{
	font:26px 'CaviarDreamsRegular',Arial,sans-serif;
	margin:20px 0;
}

/* Homepage Attributes */

#homepageContent	{
	width:30%;
	float:left;
	padding:10px;
}

#homepageContent h2	{
	font:26px 'CaviarDreamsRegular',Arial,sans-serif;
}

#slider div h2 {
	font:26px 'CaviarDreamsRegular',Arial,sans-serif;
}

#homepageContent article p	{
	padding:10px;
}

#homeSecondaryContent	{
	width:30%;
	float:left;
	padding:10px;
}	

#homeSecondaryContent h2 {
	font:26px 'CaviarDreamsRegular',Arial,sans-serif;
}

#homeSecondaryContent article p	{
	padding:27px 10px;
}

#homeWidget	{
	width:30%;
	float:right;
	padding:10px;
}

#homeWidget  .widget	{
	margin:0 !important;
}

#homeWidget .widgettitle	{
	padding:0;
	
}

#homeWidget ul ul{
	margin:27px 0 !important;
}

/* Sidebar Attributes */

aside	{
	width:30%;
	float:right;
}

.widget	{
	margin:20px;
	list-style-type:none;
}

.widget li{
	list-style-type: none;
}

.widgettitle	{
	list-style-type:none;
	font:26px 'CaviarDreamsRegular',Arial,sans-serif;
	padding:10px 0;
}

/* Footer Attributes */

footer	{
	border-top:1px solid rgba(201, 201, 201, 1);
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
	padding-top:20px;
	clear: both;
}


/* Comments */

.alt	{
	background-color:#f4f4f4;
}

.commentlist li	{
	margin:20px;
}

#commentform	{
	margin:20px;
}

#comment-title	{
	font:16px 'NobileItalic',Arial,sans-serif;
	padding:20px 5px 10px 5px;
	}
	
#comments ol{
	margin:20px;
}

.comment-data	{
	margin:10px;
}

/* Portfolio Attributes */

.portfolioPic	{ 
	float:left;
	margin:10px;
	width:58%;
	border: 1px solid rgba(232, 232, 232, 1);
}

.portfolioText	{
	margin:10px 0;
	float:right;
	width:38%;
}

/* Slider Featured */

#featured_slider	{
	border:0 !important;
	/*z-index:-10; */
	-moz-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}


#featured_slider .img_right img {
	background: none repeat scroll 0 0 #F0F0F0;
    border-top: 1px solid white;
    margin: 0 0 10px;
    outline: 1px solid #DDDDDD;
    padding: 10px;
    -webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
transition: all 0.4s linear;
    margin-left:50px !important;
   }
   
#featured_slider .img_right img:hover	{
	outline: 1px solid #111;
	border-top: 1px solid #555;
	padding: 10px;
	background: #333;
}

/* search form 
-------------------------------------- */
.searchform {
	position:relative;
	display: inline-block;
	zoom: 1; /* ie7 hack for display:inline-block */
	*display: inline;
	border: solid 1px #d2d2d2;
	padding: 3px 5px;
	
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);

	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}
.searchform input {
	font: normal 12px/100% Arial, Helvetica, sans-serif;
}
.searchform .searchfield {
	background: #fff;
	padding: 6px 6px 6px 8px;
	width: 202px;
	border: solid 1px #bcbbbb;
	outline: none;

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.searchform .searchbutton {
	color: #fff;
	border: solid 1px #494949;
	font-size: 11px;
	height: 27px;
	width: 27px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);

	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;

	background: #5f5f5f;
	background: -webkit-gradient(linear, left top, left bottom, from(#9e9e9e), to(#454545));
	background: -moz-linear-gradient(top,  #9e9e9e,  #454545);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie7 */
	-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#454545'); /* ie8 */
	float:right;
	position:absolute;
	top:5px;
	right:5px;
}

/* floats left & right */

.left	{
	float
}

.right	{
	float:right;
}


/* Font Face Fonts */

@font-face {
    font-family: 'CaviarDreamsItalic';
    src: url('CaviarDreamsItalic-webfont.eot');
    src: url('CaviarDreamsItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreamsItalic-webfont.woff') format('woff'),
         url('CaviarDreamsItalic-webfont.ttf') format('truetype'),
         url('CaviarDreamsItalic-webfont.svg#CaviarDreamsItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBoldItalic';
    src: url('CaviarDreams_BoldItalic-webfont.eot');
    src: url('CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams_BoldItalic-webfont.woff') format('woff'),
         url('CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
         url('CaviarDreams_BoldItalic-webfont.svg#CaviarDreamsBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsRegular';
    src: url('CaviarDreams-webfont.eot');
    src: url('CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams-webfont.woff') format('woff'),
         url('CaviarDreams-webfont.ttf') format('truetype'),
         url('CaviarDreams-webfont.svg#CaviarDreamsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaviarDreamsBold';
    src: url('CaviarDreams_Bold-webfont.eot');
    src: url('CaviarDreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('CaviarDreams_Bold-webfont.woff') format('woff'),
         url('CaviarDreams_Bold-webfont.ttf') format('truetype'),
         url('CaviarDreams_Bold-webfont.svg#CaviarDreamsBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileRegular';
    src: url('nobile-webfont.eot');
    src: url('nobile-webfont.eot?#iefix') format('embedded-opentype'),
         url('nobile-webfont.woff') format('woff'),
         url('nobile-webfont.ttf') format('truetype'),
         url('nobile-webfont.svg#NobileRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileItalic';
    src: url('nobile_italic-webfont.eot');
    src: url('nobile_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('nobile_italic-webfont.woff') format('woff'),
         url('nobile_italic-webfont.ttf') format('truetype'),
         url('nobile_italic-webfont.svg#NobileItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileBold';
    src: url('nobile_bold-webfont.eot');
    src: url('nobile_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nobile_bold-webfont.woff') format('woff'),
         url('nobile_bold-webfont.ttf') format('truetype'),
         url('nobile_bold-webfont.svg#NobileBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NobileBoldItalic';
    src: url('nobile_bold_italic-webfont.eot');
    src: url('nobile_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('nobile_bold_italic-webfont.woff') format('woff'),
         url('nobile_bold_italic-webfont.ttf') format('truetype'),
         url('nobile_bold_italic-webfont.svg#NobileBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

article ol	{
	margin-left:20px;
}

article h3	{
	font: 22px 'CaviarDreamsItalic';
	padding:10px 0;
}
#crumbs	{
	margin:10px;
}
h3#comments	{
	font: 22px 'CaviarDreamsItalic';
	padding:10px 0;
}
#respond	{
	font: 22px 'CaviarDreamsItalic';
	padding:10px 0;
}

.navigation	{
	font-family: 'CaviarDreamsBold';
	padding:10px 0;
	margin:20px 0;
}

/*
* print styles
* inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
*/
@media print {
* { background: transparent !important; color: #444 !important; text-shadow: none; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }&nbsp;&nbsp;&nbsp;&nbsp;.ir a:after { content: ""; } &nbsp;/* Don't show links for images */&nbsp;&nbsp;&nbsp;&nbsp;pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }&nbsp;&nbsp;&nbsp;&nbsp;img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
